{% extends 'base.html' %}
{% load static %}



{% block body %}

<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
    <style>
      .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
  
      @media (min-width: 992px) {
        .rounded-tr-lg-0 {
          border-top-right-radius: 0;
        }
  
        .rounded-bl-lg-5 {
          border-bottom-left-radius: 0.5rem;
        }
      }
    </style>
    <div class="card mb-3">
        
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
    

            <div>

                <div>
                    <img src="{% static '/img/security.jpg'%}" class="w-100 rounded-t-5 rounded-tr-lg rounded-bl-lg-5" />
                </div>
            </div>
          </div>

            
            <div class="col-lg-4">
          <div class="card-body py-5 px-md-5">
            <form method="POST" class="hero-text2" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>YENİ ŞİFRE BELİRLE</h2>
    

                
            <div class="mb-4">
              
              Şifre<input required type="password" name="password1" class="form-control form-control-lg my-2" placeholder="Şifre">
            </div>
            <div class="d-grid gap-2">
                <a href="/"><button class="btn btn-danger text-success btn-lg" type="submit"> YENİ ŞİFRE BELİRLE</button></a>
            </div>

            </form>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
    
{% endblock body %}


    
    
    



    
